<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>在线相册</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <style>
    .photo{
      padding-top: 40px;
      padding-left: 200px;
      padding-right: 200px;
    }
    .pics{
      margin: 30px;
      float: left;
      /* border: 1px solid red; */
    }
    h3{
      text-align: center;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">相册</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/dir/mkdir">新建相册</a></li>
          <li><a href="/pic/upload">上传图片</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <form action="/dir/mkdir" method="POST" onsubmit="return canSend()">
    输入相册名称:
    <input type="text" name="dirName" oninput="check()"><span id="msg"></span><br>
    <input type="submit" >
  </form>
  <script src="/js/jquery.min.js"></script>
  <script>
    var f = false;// 标记表单是否可以发送
    function check(){
      // 获取相册名称
      var dirName = $("input[type='text']").val().trim();
      // 发送Ajax检查相册名称是否存在
      $.ajax({
        url: "/dir/check",
        data: {dirName: dirName},
        success: function(result){
          if(result.code==1){
            f = false; // 不可用
            $("#msg").html("正在查询相册名是否可用");
            return;
          }
          if(result.code==0){
            var res = result.res;
            if(res){
              // 存在
              f = false; // 不可用
              $("#msg").html("相册名已存在");
            }else{
              f = true; // 可用
              $("#msg").html("相册名可用");
            }
          }
        }
      })
      
    }
    
    function canSend(){
      var dirName = $("input[type='text']").val().trim();
      if(!dirName){
        // 没有值,或值为空字符串
        $("#msg").html("相册名不可为空");
        return false;
      }
      // 判断f
      return f;
    }
  </script>
  
</body>
</html>