<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/tijiao" method="post">
    姓名: <input type="text" name="uname"><br>
    邮箱: <input type="email" name="email"><br>
    昵称: <input type="text" name="nick"><br>
    <input type="submit">
  </form>
</body>
</html>