<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <style>
        ul{
            list-style: none;
        }
        li{
            float: left;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">相册</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">全部相册<span class="sr-only">(current)</span></a></li>
                <li><a href="/upload">上传图片</a></li>
                <li><a href="/newDir">新建相册</a></li>
            </ul>
        </div>
    </div>
</nav>

<div>
    <ul>
        <%for(var i=0;i<pics.length;i++){%>
        <li>
            <img src="/<%=dirName%>/<%=pics[i]%>" alt="" width="100px">
            <h1><%=pics[i]%></h1>
        </li>
        <%}%>
    </ul>
</div>


</body>
</html>