<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <form action="/add" method="POST">
      商品名称: <input type="text" name="name"><br>
      商品价格: <input type="number" name="price"><br>
      进货数量: <input type="number" name="number"><br>
      <input type="submit" value="进货">
    </form>
  </body>
  </html>
</body>
</html>