<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    table{
      border: 1px solid red;
      width: 60%;
      text-align: center;
    }
    td{
      border: 1px solid red;
    }
  </style>
</head>
<body>
  <table cellspacing="0">
    <tr>
      <td>编号</td>
      <td>名称</td>
      <td>单价</td>
      <td>数量</td>
      <td>操作</td>
    </tr>
    <% for(var i=0;i<shops.length;i++){ %>
      <tr>
        <td><%= shops[i].id %></td>
        <td><%= shops[i].name %></td>
        <td><%= shops[i].price %></td>
        <td><%= shops[i].number %></td>
        <td>
          <a href="#">修改</a>
          <a href="#">删除</a>
        </td>
      </tr>
    <% } %>
  </table>
  <a href="/add">进货</a>
  
  <script src="/jquery.min.js"></script>
</body>
</html>